@import 'vars';

.Feed {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 10px;
	place-content: center;
  margin: 10px auto;
  width: 300px;
}

@media (max-width: 640px) {
	.Feed {
		grid-template-columns: repeat(auto-fill, 320px);
	}
}
